<html lang="en" ng-app="clinikapp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/libs/angular-material/angular-material.min.css">
  </head>
  <body layout="column" >
    <div ng-controller="mainCtrl">

    <md-toolbar  class="md-default-theme">
      <div class="md-toolbar-tools">     
        <h2>
          <a ui-sref="elements()"><span >Clinikapp</span></a>
        </h2>
        <span flex=""></span>
        
        <md-button class="md-icon-button" ng-click="menu_right()">
          <md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <br>

  <md-content layout-padding class="md-default-theme" ui-view>
     

  </md-content>


   <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Menú</h1>
      </md-toolbar>
      <md-content  layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Buscar</label>
            <input type="text" id="testInput"
                   ng-model="data" md-sidenav-focus>
          </md-input-container>
        </form>

        <md-button ng-click="menu_right()" class="md-primary">
          Cerrar
        </md-button>
      </md-content>
    </md-sidenav>

  </div>
    <!-- Angular Material Dependencies -->
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular-animate/angular-animate.min.js"></script>
    <script src="assets/libs/ui-router/release/angular-ui-router.min.js"></script>    
    <script src="assets/libs/angular-aria/angular-aria.min.js"></script>
    <script src="assets/libs/angular-material/angular-material.min.js"></script>
    <script src="assets/js/config.js"></script>
    <script src="assets/js/controllers.js"></script>


  </body>
</html>