<section class="profile">
    <md-content style="background: url(assets/img/clinicas/comfenalco.jpg) no-repeat center center;background-size:cover">
        <div class="profile-image" style="background: url(assets/img/clinicas/comfenalco.jpg) no-repeat center center;background-size:cover">
        	
        </div>
    </md-content>
    <div layout="row">
    	<md-toolbar class="md-primary"layout-align="center center">
    	  <div class="md-toolbar-tools">
		      	<md-button class="md-icon-button" flex aria-label="call">
		         <ng-md-icon icon="call" style="fill:white;"></ng-md-icon>
		        </md-button>
		        <md-button class="md-icon-button" flex aria-label="medic">
		        	<ng-md-icon icon="person" style="fill:white;"></ng-md-icon>
		        </md-button>
		        <md-button class="md-icon-button" flex aria-label="botton-sheet" ng-click="centerBottomSheet($ev)">
		        	<md-icon md-svg-icon="assets/icons/more_vert.svg" style="color:white;"></md-icon>
		        </md-button>
		    </div>
        </md-toolbar>
    </div>
    <div layout="row">
    	
    </div>

</section>
