// default less


ng-md-icon{
	top: 3px;
position: relative;
}


p.p-aligned{
  white-space: normal;
  text-overflow: ellipsis;
  text-align: justify !important;
}


@media (max-width: 599px) {

  .menu-btn{
    text-align: right !important;
  }

  }


  @media (max-width: 400px) {
  		
  		.menu-btn{
   			 text-align: right !important;
         }

    }
  