<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Menú</h1>
      </md-toolbar>
      <md-content  layout-padding>
     
       <md-list>
          <md-list-item>
               <md-button>Mis Citas</md-button>
          </md-list-item>
            <md-list-item>
               <md-button>Buscar en Mapa</md-button>
          </md-list-item>
       </md-list>

        <md-button ng-click="menu_right()" class="md-primary">
          Cerrar
        </md-button>
      </md-content>
    </md-sidenav>